In [1]:
print('Araf')

Araf

In [3]:
import pandas

mycar = {
     'cars': ["BMW", "Volvo", "Ford"],
    'passings': [3, 7, 2]

}
print(mycar)
#Data Frame
myvar = pandas.DataFrame(mycar)
print(myvar)

{'cars': ['BMW', 'Volvo', 'Ford'], 'passings': [3, 7, 2]}
    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2